.main-section {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  bottom: 5px;
  right: 5px;
  left: 72px;
  top: 50px;
}

/********************LEFT SECTION******************/

.left-section {
  width: 30%;
  background-color: rgb(54, 54, 54);
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  z-index: 1;
}

/*--------Header of left section---------*/
.left-section-header {
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 54, 54);
  padding: 10px;
  border-radius: 12px;
}

.chats-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.chats {
  width: 40px;
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
}

.chats-filters {
  display: flex;
}

.chats-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.chats-icon:hover {
  background-color: rgb(93, 92, 92);
}

.chats-icon img {
  height: 20px;
}

.search-bar {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search {
  flex: 1;
  width: 0;
  height: 25px;
  background-color: black;
  color: beige;
  border-radius: 7px;
  border: none;
  text-align: center;
}

/*-------Body of Left section------------*/
.left-section-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.left-section-body::-webkit-scrollbar {
  width: 1px;
}

.person,
.person1 {
  display: flex;
  height: 65px;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.person1 {
  background-color: rgb(93, 92, 92);
}

.person:hover {
  background-color: rgb(93, 92, 92);
}

.person-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.person-image img {
  border-radius: 200px;
  height: 50px;
  width: 50px;
}

.name-text {
  width: 200px;
}
.person-name {
  margin-top: 3px;
  font-size: 15px;
  font-weight: 500;
}

.person-text {
  margin-top: -6px;
  font-size: 11px;
  font-weight: 100;
}

.time-pin {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: rgb(9, 229, 9);
}

/********************RIGHT SECTION******************/
.right-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  flex: 1;
  background-color: rgb(54, 54, 54);
  height: 100%;
  margin-left: 5px;
}

/*------ Header of right section-----*/

.dashboard-header {
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: rgb(54, 54, 54);
  justify-content: space-between;
  padding: 20px;
}

.ds-left {
  display: flex;
  flex-direction: row;
  width: 250px;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.profile-img img {
  border-radius: 50px;
  height: 50px;
}

.profile-txt {
  margin-top: -10px;
  width: 200px;
  margin-left: 15px;
}
.profile-name {
  font-size: 15px;
  font-weight: 600;
}

.profile-status {
  margin-top: -15px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(6, 168, 6);
}

.ds-right {
  display: flex;
  flex-direction: row;
  width: 225px;
}

.buttons {
  display: flex;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background-color: rgb(93, 92, 92);
}

.video-btn,
.call-btn {
  height: 50px;
  width: 75px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.video-btn:hover,
.call-btn:hover {
  background-color: rgb(124, 124, 124);
}

.video-btn img,
.call-btn img,
.search-txt img {
  height: 20px;
}

.search-txt {
  display: flex;
  margin-left: 3px;
  width: 75px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.search-txt:hover {
  background-color: rgb(93, 92, 92);
}

/*------ Body of right section----- */
.dashboard-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
}

.dashboard-body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.sender-container {
  width: 100%;
  height: fit-content;
}

.receiver-container {
  width: 100%;
  height: fit-content;
}

.sender {
  display: flex;
  padding: 5px;
  max-width: 70%;
  justify-content: flex-end;
  width: fit-content;
  background-color: rgb(56, 55, 55);
  border-radius: 0px 20px 20px 20px;
}

.receiver {
  display: flex;
  padding: 5px;
  max-width: 70%;
  justify-content: flex-end;
  width: fit-content;
  background-color: rgb(1, 89, 1);
  border-radius: 20px 0px 20px 20px;
  float: right;
}

/*-------Footer right section-------*/

.dashboard-footer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 5px;
}

.sticker,
.attachement,
.record {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.sticker:hover,
.attachement:hover,
.record:hover {
  background-color: rgb(93, 92, 92);
}

.sticker img,
.attachement img {
  height: 20px;
}

.record img {
  height: 30px;
}

.chat-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 50px;
}

.chat-box input {
  border: none;
  flex: 1;
  width: 0;
  height: 40px;
  background-color: rgb(54, 54, 54);
  color: beige;
  border-radius: 7px;
  font-size: 15px;
}
