.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 50px;
  background-color: rgb(27, 27, 27);
  width: 72px;
  z-index: 200;
}

.nav-link,
.nav-link1 {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  border-radius: 4px;
}

.nav-link1 {
  background-color: rgb(54, 54, 54);
}

.nav-link:hover {
  background-color: rgb(54, 54, 54);
}

.nav-link img,
.nav-link1 img {
  height: 25px;
  margin-bottom: 4px;
}

.nav-link div,
.nav-link1 div {
  font-family: Roboto, Arial;
  font-size: 12px;
}
